% Main LaTeX document template
\documentclass[A4,12pt,twoside]{book}
\usepackage{amd}

% Book Information
\newcommand{\BigTitle}{
    {{book_title | default("Untitled Book")}}
}

\newcommand{\LittleTitle}{
    {{book_summary | default("A comprehensive guide")}}
}

\begin{document}

% Front matter
\newgeometry{top=8cm,bottom=.5in,left=2cm,right=2cm}
\subfile{files/0.0.0.titlepage}
\restoregeometry
\subfile{files/0.Preface}
\subfile{files/0.zommaire}

% Main content - dynamically generated chapters
{% for chapter in chapters %}
\subfile{files/chapter_{{loop.index}}}
{% endfor %}

% Bibliography
\nocite{*}
\printbibliography

\end{document}
